dash==2.17.0
pandas==2.1.4
plotly==5.9.0
requests==2.26.0
dash-bootstrap-components==1.6.0
flask==2.2.5
gunicorn
openpyxl==3.0.10
dash-leaflet==1.0.15
Flask-Caching==2.2.0
dash-extensions==1.0.16
