/* Estilo general para el contenedor de los controles */
.controls-container {
    position: absolute;
    top: 100px;
    left: 10px;
    z-index: 1000;
    width: 22%; /* Ancho por defecto en pantallas grandes */
    height: auto !important; /* Altura del panel ajustada */
    background-color: #104547 !important;
    color: #fffff5 !important;
    border-radius: 12px;
    padding: 10px; /* Aumentar el padding para más espacio */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    gap: 8px;
    flex-direction: column;
    max-height: 80vh;  # Ajustar altura máxima del panel
    overflow-y: auto;
}

.controls-container > * {
    margin-bottom: 15px; /* Añadir espacio entre los filtros */
}

@media (max-width: 1440px) {
    .controls-container {
        width: 30%; /* Ancho en pantallas un poco más pequeñas */
    }
}

@media (max-width: 1024px) {
    .controls-container {
        width: 30%; /* Ancho en tabletas grandes */
    }
}

@media (max-width: 768px) {
    .controls-container {
        width: 90%; /* Ancho en tabletas */
        left: 5%;  
    }
}

@media (max-width: 430px) {
    .controls-container {
        width: 85% !important; /* Ancho en dispositivos móviles más pequeños */
        left: 5%;  
    }
}

@media (max-width: 425px) {
    .controls-container {
        width: 85% !important; /* Ancho en dispositivos móviles más pequeños */
        left: 5%;  
    }
}

@media (max-width: 375px) {
    .controls-container {
        width: 85%; /* Ancho completo en dispositivos móviles más pequeños */
        left: 5%;  
    }
}


@font-face {
    font-family: 'Montserrat';
    src: url('/assets/Montserrat-Regular.woff2') format('woff2'),
         url('/assets/Montserrat-Regular.ttf') format('truetype');
    font-weight: 400;
}
@font-face {
    font-family: 'Montserrat';
    src: url('/assets/Montserrat-Bold.woff2') format('woff2'),
         url('/assets/Montserrat-Bold.ttf') format('truetype');
    font-weight: 700;
}



.leaflet-tooltip {
    border: none !important;
    background: transparent !important;
    box-shadow: none !important;
}


/* Ajustes de tamaño de fuente para dropdowns y inputs */
.custom-dropdown .Select-control {
    width: 80% !important; /* Ajusta el ancho según lo necesites */
    margin: auto; /* Centra los dropdowns */
    color: #fffff5 !important;
    background-color: #104547 !important; /* Fondo verde oscuro */
    z-index: 1001 !important;
}

.custom-dropdown .Select-placeholder,
.custom-dropdown .Select-value-label {
    font-size: 0.8em !important; /* Tamaño del texto para pantallas grandes */
    color: #fffff5 !important;
}

.custom-dropdown .Select-menu-outer {
    left: 50% !important; /* Posiciona el menú desplegable en el centro del contenedor */
    transform: translateX(-50%) !important; /* Centra el menú desplegable */   
    background-color: #104547 !important; /* Fondo verde oscuro */
    color: #fffff5 !important;
    margin: auto;
    width: 80% !important; /* Asegúrate de que el menú del dropdown también se ajuste */
    box-sizing: border-box; /* Incluye el padding y el borde en el ancho total */
    overflow-x: hidden !important; /* Evitar el desbordamiento horizontal */
    z-index: 1500 !important; /* Asegura que las opciones estén por encima del panel de filtros */
}

.custom-dropdown .Select-menu {
    width: 100% !important; /* Asegúrate de que el menú del dropdown también se ajuste */
}

.custom-dropdown .Select-option {
    background-color: #104547 !important; /* Fondo verde oscuro */
    color: #fffff5 !important;
    width: 80% !important;
}

.custom-dropdown .Select-option.is-selected,
.custom-dropdown .Select-option.is-focused {
    background-color: #145a3d !important; /* Fondo verde más oscuro al seleccionar o enfocar */
    color: #fffff5 !important;
}


/* Ajustes de color para otros elementos en el panel de filtros */
.controls-container .custom-slider .rc-slider-mark-text {
    color: #fffff5 !important;
}

.custom-slider {
    width: 77% !important; /* Ajusta el ancho del RangeSlider */
    margin: 0 auto; /* Centra el RangeSlider */
    margin-top: 0px;
    margin-bottom: 0px !important;
}

.custom-slider .rc-slider-track {
    background-color: #dac69a !important; /* Cambia el color de la pista del RangeSlider */
}

.custom-slider .rc-slider-handle {
    border-color: #dac69a !important; /* Cambia el color del controlador del RangeSlider */
}

.custom-slider .rc-slider-dot {
    border-color: #dac69a !important; /* Cambia el color de los puntos del RangeSlider */
}




/* Ajustes de visibilidad y estilo para el recuadro de colores */
.color-legend {
    display: flex !important; /* Fuerza el display a flex */
    width: 80%;
    min-height: 10px !important;
    margin: 10px auto; /* Ajusta el margen según sea necesario */
    height: 10px; /* Altura del recuadro */
    visibility: visible !important; /* Fuerza la visibilidad */
    position: relative; /* Asegúrate de que tenga una posición relativa */
    z-index: 1 !important; /* Asegúrate de que esté sobre otros elementos */
    min-width: 200px;
    max-width: 80%;
    margin-bottom: 0px !important;
    background-color: transparent !important; /* Asegúrate de que no tenga fondo que interfiera */
}

.leaflet-control-attribution {
    display: none !important;
}

.color-legend div {
    height: 100%;
    flex: 1;
}

.color-legend .color-1 { 
    background-color: #ff0000 !important; /* Color rojo para 0 a 0.9 */
}
.color-legend .color-2 { 
    background-color: #800080 !important; /* Color violeta para 1 a 1.9 */
}
.color-legend .color-3 { 
    background-color: #00ced1 !important; /* Color celeste para 2 a 2.9 */
}
.color-legend .color-4 { 
    background-color: #f5deb3 !important; /* Color beige para 3 a 3.9 */
}
.color-legend .color-5 { 
    background-color: #008000 !important; /* Color verde para 4 a 5 */
}

/* Asegúrate de que sea visible en dispositivos móviles */
@media (max-width: 768px) {
    .color-legend {
        width: 80% !important; /* Ajusta el ancho según sea necesario */
        margin: 10px auto; /* Centra el recuadro de colores */
    }
}

@media (max-width: 430px) {
    .color-legend {
        width: 80% !important; /* Ajusta el ancho según sea necesario */
        margin: 10px auto; /* Centra el recuadro de colores */
    }
}

@media (max-width: 425px) {
    .color-legend {
        width: 80% !important; /* Ajusta el ancho según sea necesario */
        margin: 10px auto; /* Centra el recuadro de colores */
    }
}

@media (max-width: 375px) {
    .color-legend {
        width: 80% !important; /* Ajusta el ancho según sea necesario */
        margin: 10px auto; /* Centra el recuadro de colores */
    }
}

@media (max-width: 300px) {
    .color-legend {
        width: 80% !important; /* Ajusta el ancho según sea necesario */
        margin: 10px auto; /* Centra el recuadro de colores */
    }
}




@media (min-width: 1441px) {
    .custom-dropdown .Select-control,
    .custom-dropdown .Select-placeholder,
    .custom-dropdown .Select-value-label,
    .custom-input {
        font-size: 1em !important; /* Tamaño del texto para pantallas mayores a 1440px */
    }
}

@media (max-width: 1440px) {
    .custom-dropdown .Select-control,
    .custom-dropdown .Select-placeholder,
    .custom-dropdown .Select-value-label,
    .custom-input {
        font-size: 1em !important; /* Tamaño del texto para pantallas un poco más pequeñas */
    }
}

@media (max-width: 1024px) {
    .custom-dropdown .Select-control,
    .custom-dropdown .Select-placeholder,
    .custom-dropdown .Select-value-label,
    .custom-input {
        font-size: 0.85em; /* Tamaño del texto para pantallas medianas */
    }
}

@media (max-width: 768px) {
    .custom-dropdown .Select-control,
    .custom-dropdown .Select-placeholder,
    .custom-dropdown .Select-value-label,
    .custom-input {
        font-size: 0.8em; /* Tamaño del texto para pantallas más pequeñas */
    }
}

@media (max-width: 425px) {
    .custom-dropdown .Select-control,
    .custom-dropdown .Select-placeholder,
    .custom-dropdown .Select-value-label,
    .custom-input {
        font-size: 0.75em; /* Tamaño del texto para pantallas muy pequeñas */
    }
}

/* Estilo para el botón Cambiar tipo de mapa */
.custom-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em; /* Tamaño de fuente inicial */
    width: 80%; /* Ancho completo del contenedor */
    margin-top: 10px;
    padding: 7px 20px; /* Ajusta el relleno según sea necesario */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #fffff5 !important;
}

@media (max-width: 768px) {
    .custom-button {
        font-size: 0.85em; /* Tamaño de fuente reducido en dispositivos móviles */
    }
}

/* Estilo para el botón de Mostrar/Ocultar Filtros */
.custom-toggle-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80%; /* Tamaño de fuente más pequeño relativo al tamaño de la pantalla */
    width: auto; /* Permitir que el ancho del botón se ajuste al contenido */
    margin-top: 10px;
    padding: 8px 16px; /* Ajusta el relleno según sea necesario */
    background-color: #fffff5 !important; /* Fondo blanco */
    border: 2px solid #000000 !important; /* Borde negro */
    border-radius: 5px; /* Bordes redondeados */
    position: fixed !important;
    font-weight: bold !important;
    top: 10px;
    left: 10px;
    z-index: 2000; /* Asegura que el botón esté por encima del panel de filtros */
    color: #194d33 !important;
}


/* Estilo general para el panel de información */
#info-registro {
    position: absolute;
    top: 60px;
    right: 110px;
    width: 30%; /* Aumenta el ancho en pantallas grandes */
    border: 2px solid #404040;
    background-color: rgba(255, 255, 255, 1);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: none; /* Initially hidden */
}

#info-registro h4, #info-registro p {
    font-size: 1em; /* Tamaño de fuente para pantallas grandes */
}

#info-registro a {
    word-wrap: break-word;
}

/* Ajustes de tamaño de panel y texto para pantallas más pequeñas */
@media (max-width: 1440px) {
    #info-registro {
        width: 35%; /* Ancho en pantallas un poco más pequeñas */
        right: 20px;
    }
    #info-registro h4, #info-registro p {
        font-size: 0.9em; /* Reducir tamaño de fuente */
    }
}

@media (max-width: 1024px) {
    #info-registro {
        width: 40%; /* Ancho en tabletas grandes */
        right: 20px;
    }
    #info-registro h4, #info-registro p {
        font-size: 0.85em; /* Reducir tamaño de fuente */
    }
}

@media (max-width: 768px) {
    #info-registro {
        width: 50% !important; /* Ancho en tabletas */
        right: 20px;
    }
    #info-registro h4, #info-registro p {
        font-size: 0.8em; /* Reducir tamaño de fuente */
    }
}

@media (max-width: 425px) {
    #info-registro {
        width: 65%; /* Ancho en dispositivos móviles más pequeños */
        right: 20px;
    }
    #info-registro h4, #info-registro p {
        font-size: 0.75em; /* Reducir tamaño de fuente */
    }
}

@media (max-width: 375px) {
    #info-registro {
        width: 70% !important; /* Ancho completo en dispositivos móviles más pequeños */
        right: 20px;
    }
    #info-registro h4, #info-registro p {
        font-size: 0.7em; /* Reducir tamaño de fuente */
    }
}

/* Estilo para el botón de cerrado del panel de información */
.close-info-button {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: transparent;
    border: none;
    font-size: 1.2em;
    cursor: pointer;
}


/* Estilos para el tooltip */
.leaflet-tooltip {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    background: #64b6ac !important;
    color: #fffff5;
    border: 2px solid #fffff5;
    border-radius: 5px;
    padding: 10px;
    min-width: 150px;
    word-wrap: break-word;
}

/* Ajuste del estilo del nombre en el tooltip */
.marker-tooltip .nombre {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #000000;  /* Cambiar a color negro */
    margin-top: 0px; /* Reducir espacio superior */
    margin-bottom: 2px;  /* Mantener un pequeño espacio entre el nombre y el siguiente contenido */
}

/* Estilo para las palabras en negrita */
.marker-tooltip .bold-text {
    font-weight: bold;
}


/* Ajustar el margen entre elementos del tooltip */
.marker-tooltip p {
    margin-bottom: 2px !important;  /* Reducir el margen entre elementos */
}



.marker-tooltip div {
    margin-bottom: 2px !important;
    font-size: 14px !important;  /* Aumentar tamaño de fuente */
}

.marker-tooltip div:last-child {
    margin-bottom: 0;
}

.tooltip-header:hover + .tooltip-extra-info {
    display: block !important;  /* Mostrar información adicional al hacer hover */
}

/* Hacer que el tooltip no se muestre después de hacer clic */
.marker-tooltip.clicked {
    display: none !important;
}

/* Ocultar el tooltip en dispositivos móviles */
@media (max-width: 768px) {
    .marker-tooltip {
        display: none !important;
    }
}

body, .controls-container, .custom-dropdown .Select-control, .custom-dropdown .Select-placeholder, .custom-dropdown .Select-value-label, .custom-dropdown .Select-menu, .custom-dropdown .Select-option, .custom-slider, .custom-button, .custom-toggle-button, #info-registro, .contact-button-circle {
    font-family: 'Montserrat', sans-serif;
}

/* Ajustar el estilo del botón de contacto */
.contact-button-circle {
    margin-left: 15px !important;  /* Ajusta el margen izquierdo para acercar los botones */
    margin-right: 15px !important; /* Ajusta el margen derecho para acercar los botones */
    margin-top: 15px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;   
    text-decoration: none;
    border: 2px solid #fffff5 !important;
    color: #194d33 !important;
    background-color: #fffff5 !important;
}




.location-button {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute !important;
    bottom: 500px !important;
    right: 10px;
    z-index: 1000;
}

.location-button .fas {
    font-size: 20px;
}


.custom-spinner {
    z-index: 9999 !important; /* Asegúrate de que el spinner esté al frente */
    position: fixed; /* Asegúrate de que cubra toda la pantalla */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9); /* Fondo semitransparente */
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading-overlay {
    z-index: 2000 !important; /* Asegúrate de que esté por encima del panel de filtros */
}



/* Estilos para los popups */
.leaflet-popup-content {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 1.5;
}

/* Estilos para el nombre en el popup */
.leaflet-popup-content strong {
    font-size: 16px;
    font-weight: bold;
    text-decoration: underline;
}

/* Cambiar el color del texto al escribir en los dropdowns */
.custom-dropdown .Select-input input {
    color: #fffff5 !important; /* Cambiar a blanco */
}
