/* Estilo general para el contenedor de los controles */
.controls-container {
    position: absolute;
    top: 100px;
    left: 10px;
    z-index: 1000;
    width: 20%; /* Ancho en monitores de computadora y notebooks */
    background-color: rgba(255, 255, 255, 1);
    border-radius: 12px;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media (max-width: 1440px) {
    .controls-container {
        width: 30%; /* Ancho en pantallas un poco más pequeñas */
    }
}

@media (max-width: 1024px) {
    .controls-container {
        width: 40%; /* Ancho en tabletas grandes */
    }
}

@media (max-width: 768px) {
    .controls-container {
        width: 60%; /* Ancho en tabletas */
        left: 5%;  /* Centrando el panel en dispositivos móviles */
    }
}

@media (max-width: 425px) {
    .controls-container {
        width: 85%; /* Ancho en dispositivos móviles más pequeños */
        left: 5%;  /* Centrando el panel en dispositivos móviles más pequeños */
    }
}

@media (max-width: 375px) {
    .controls-container {
        width: 90%; /* Ancho completo en dispositivos móviles más pequeños */
        left: 2.5%;  /* Centrando el panel en dispositivos móviles más pequeños */
    }
}

/* Ajustes de tamaño de fuente para dropdowns y inputs */
.custom-dropdown .Select-control,
.custom-input {
    font-size: 0.8em !important; /* Tamaño del texto para pantallas grandes */
    width: 100%; /* Ancho completo del contenedor */
}

.custom-dropdown .Select-placeholder,
.custom-dropdown .Select-value-label {
    font-size: 0.8em !important; /* Tamaño del texto para pantallas grandes */
}

@media (min-width: 1441px) {
    .custom-dropdown .Select-control,
    .custom-dropdown .Select-placeholder,
    .custom-dropdown .Select-value-label,
    .custom-input {
        font-size: 1em !important; /* Tamaño del texto para pantallas mayores a 1440px */
    }
}

@media (max-width: 1440px) {
    .custom-dropdown .Select-control,
    .custom-dropdown .Select-placeholder,
    .custom-dropdown .Select-value-label,
    .custom-input {
        font-size: 1em !important; /* Tamaño del texto para pantallas un poco más pequeñas */
    }
}
@media (max-width: 1024px) {
    .custom-dropdown .Select-control,
    .custom-dropdown .Select-placeholder,
    .custom-dropdown .Select-value-label,
    .custom-input {
        font-size: 0.85em; /* Tamaño del texto para pantallas medianas */
    }
}

@media (max-width: 768px) {
    .custom-dropdown .Select-control,
    .custom-dropdown .Select-placeholder,
    .custom-dropdown .Select-value-label,
    .custom-input {
        font-size: 0.8em; /* Tamaño del texto para pantallas más pequeñas */
    }
}

@media (max-width: 425px) {
    .custom-dropdown .Select-control,
    .custom-dropdown .Select-placeholder,
    .custom-dropdown .Select-value-label,
    .custom-input {
        font-size: 0.75em; /* Tamaño del texto para pantallas muy pequeñas */
    }
}

/* Estilo para el botón Cambiar tipo de mapa */
.custom-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em; /* Tamaño de fuente inicial */
    width: 100%; /* Ancho completo del contenedor */
    margin-top: 10px;
    padding: 10px 20px; /* Ajusta el relleno según sea necesario */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 768px) {
    .custom-button {
        font-size: 0.85em; /* Tamaño de fuente reducido en dispositivos móviles */
    }
}

/* Estilo para el botón de Mostrar/Ocultar Filtros */
.custom-toggle-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80%; /* Tamaño de fuente más pequeño relativo al tamaño de la pantalla */
    width: auto; /* Permitir que el ancho del botón se ajuste al contenido */
    margin-top: 10px;
    padding: 8px 16px; /* Ajusta el relleno según sea necesario */
    background-color: rgba(255, 255, 255, 1); /* Fondo transparente */
    border: 2px solid #000000; /* Borde negro */
    border-radius: 5px; /* Bordes redondeados */
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1000;
}
#info-registro {
    display: none; /* Default to hidden */
    position: absolute;
    top: 10%;
    right: 5%;
    width: 30%;
    overflow-y: auto; /* Allow vertical scrolling if content overflows */
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
    z-index: 1000;
}

/* Estilo responsivo para dispositivos móviles */
@media only screen and (max-width: 600px) {
    #info-registro {
        position: relative; /* Cambia la posición a relativa */
        top: auto; /* Resetea el valor top */
        #right: auto; /* Resetea el valor right */
        width: 100%; /* Ocupa el 100% del ancho del contenedor */
        margin-top: 20px; /* Añade un margen superior para separar el mapa del panel */
    }

    #info-registro h4 {
        font-size: 1.2em; /* Ajusta el tamaño de fuente del nombre de la cafetería */
    }
}

/* Estilo responsivo para tabletas */
@media only screen and (min-width: 600px) and (max-width: 768px) {
    #info-registro {
        width: 100%;
        position: relative; /* Cambia la posición a relativa */
        top: auto; /* Resetea el valor top */
        #right: auto; /* Resetea el valor right */
        margin-top: 20px; /* Añade un margen superior para separar el mapa del panel */
    }

    #info-registro h4 {
        font-size: 1.5em; /* Ajusta el tamaño de fuente del nombre de la cafetería */
    }
}

/* Estilo responsivo para escritorio */
@media only screen and (min-width: 769px) {
    #info-registro {
        width: 30%;
        position: absolute; /* Mantén la posición absoluta */
        top: 10%;
        #right: 5%;
        margin-top: 0; /* Sin margen superior */
    }

    #info-registro h4 {
        font-size: 1.8em; /* Ajusta el tamaño de fuente del nombre de la cafetería */
    }
}
